<style>

</style>

<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <h1>Welcome!</h1>
    <p>This is a vulnerable Ruby on Rails blog!</p>
  </div>
</div>

